<div class="dashboard__header">
  <div class="inner">
    <h3 class="title"><%= name %></h3>
  </div>

  <div class="inner">
    <ul class="tabs d-flex justify-content-end flex-wrap align-items-end">
      <li class="d-flex align-items-center" style="gap: 10px;">
        <div class="user-thumb">
          <img src="<%= user?.avatar %>" alt="dashboard">
        </div>
        <div class="header-trigger-wrapper d-flex d-lg-none align-items-center">
            <div class="header-trigger-3 d-block d--none">
              <span></span>
            </div>
        </div> 
      </li>
    </ul>
  </div>
</div>