<footer class="footer-section section-bg">
  <div class="footer-top padding-top pb-5 border-bottom border--white">
      <div class="container">
          <div class="row gy-5 justify-content-md-between">
              <div class="col-xl-3 col-lg-3 col-sm-6">
                  <div class="footer__widget">
                      <h3 class="widget-title">About Apex Stack</h3>
                      <p>At Apex Stack, we empower you to achieve financial success with a reliable, transparent platform and personalized support. Join us to take control of your financial future.</p>
                  </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-sm-6">
                  <div class="footer__widget">
                      <h3 class="widget-title">Useful Links</h3>
                      <ul class="footer-links">
                          <li><a href="/plan.html">Apex stack Plan</a></li>
                          <li><a href="/login">Login Account</a></li>
                          <li><a href="/register">Register Account</a></li>
                          <li><a href="/dashboard">Dashboard</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-sm-6">
                  <div class="footer__widget">
                      <h3 class="widget-title">Company</h3>
                      <ul class="footer-links">
                        <li><a href="/terms">Terms & Conditions</a></li>
                        <li><a href="/policy">Privacy & Policy</a></li>
                          <li><a href="about.html">About</a></li>
                          <li><a href="/#faq">Faq</a></li>
                          <li><a href="/contact-us">Contact Us</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-sm-6">
                  <div class="footer__widget">
                      <h3 class="widget-title">Gateway</h3>
                      <ul class="footer-links">
                          <li>Paypal</li>
                          <li>Bitcoinway</li>
                          <li>Webanking</li>
                          <li>Trusted Way</li>
                          <li>Gambing</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
          <p class="copyright text-center py-3">
            <% const date = new Date() %>
              Copyright &copy; <%= date.getFullYear() %> All Rights Reserved.
          </p>
      </div>
  </div>
</footer>