<a href="#0" class="scrollToTop"><i class="las la-rocket"></i></a>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'en'
    }, 'google_translate_element');
  }
</script>
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/nice-select.js"></script>
<script src="/assets/js/odometer.min.js"></script>
<script src="/assets/js/viewport.jquery.js"></script>
<script src="/assets/js/qrcode.min.js"></script>
<script src="/assets/js/tata.js"></script>
<script src="/assets/js/main.js"></script>
<script type="module">
  import { faker } from 'https://esm.sh/@faker-js/faker';

  const getEvents = (type) => {
    const name = faker.person.firstName();
    const rand = faker.number.int({min: 5, max: 50, multipleOf: 5})
    const country = faker.location.country()
    const amount = (rand * 1000).toLocaleString("en-US");

    return {
      'withdraw': { title: "New Withdrawal", subtitle: `${name} withdrawal request of $${amount} has been processed` },
      'signup': { title: "New signup", subtitle: `${name} from ${country} just signed up`},
      'deposit': { title: "New Deposit", subtitle: `${name} has deposited $${amount} into their account.` },
      // 'investment': { title: "Withdrawal", subtitle: `John Doe has made a new investment of $5,000.` },
    }[type]
  }

  $(window).on('load', function () {
   const randomName = faker.person.firstName();
   const events = ["withdraw", 'signup', 'deposit']
  
   setInterval(() => {
      const index = faker.number.int({min: 0, max: 2});
      const { title, subtitle } = getEvents(events[index])
      tata.text(title, subtitle, { position: "br", progress: true, duration: 3000, animate: "slide" });
    }, 50000) 
  });

 

</script>
</body>
</html>