
<p
    style="
      max-width: 400px;
      margin: 0 auto;
      margin-top: 90px;
      text-align: center;
      color: #8c8c8c;
    "
  >
    Need help? Ask at
    <a
      href="mailto:archisketch@gmail.com"
      style="color: #DDA26D; text-decoration: none;"
      >support@apexstack.org</a
    >
    or visit our
    <a
      href="https://apexstack.org/contact-us"
      target="_blank"
      style="color: #DDA26D; text-decoration: none;"
      >Help Center</a
    >
  </p>
<footer
        style="
          width: 100%;
          max-width: 490px;
          margin: 20px auto 0;
          text-align: center;
          border-top: 1px solid #e6ebf1;
        "
      >
        <p
          style="
            margin: 0;
            margin-top: 40px;
            font-size: 16px;
            font-weight: 600;
            color: #434343;
          "
        >
          Apexstack
        </p>
        <p style="margin: 0; margin-top: 16px; color: #434343;">
          <% const date = new Date() %>
          Copyright © 2018-<%= date.getFullYear() %> Apexstack. All rights reserved.
        </p>
      </footer>
    </div>
  </body>
</html>