

<main>
  <div
    style="
      margin: 0;
      margin-top: 30px;
      padding: 30px 13px 30px;
      background: #ffffff;
      border-radius: 30px;
      text-align: center;
    "
  >
    <div style="width: 100%; max-width: 489px; margin: 0 auto;">
      <h1
        style="
          margin: 0;
          font-size: 24px;
          font-weight: 500;
          color: #1f1f1f;
        "
      >
        Welcome to Apexstack <%= name %>
      </h1>
      <p
        style="
          margin: 0;
          margin-top: 17px;
          font-weight: 500;
          letter-spacing: 0.56px;
        "
      >
      Welcome to Apexstack! We're thrilled to have you on board as part of our growing community of investors. At Apexstack, we are committed to helping you unlock new financial opportunities and achieve your investment goals with ease and confidence.
      </p>
      <br />
      <p style="
      margin: 0;
      font-weight: 500;
      letter-spacing: 0.56px;
      " >If you have any questions or need support, don't hesitate to reach out. We're here to assist you every step of the way.</p>

      <p
        style="
          margin: 0;
          margin-top: 17px;
          font-weight: 500;
          letter-spacing: 0.56px;
        "
      >
      Warm regards,
      <br />
      The Apexstack Team
      </p>
      
    </div>
  </div>

  <p
    style="
      max-width: 400px;
      margin: 0 auto;
      margin-top: 90px;
      text-align: center;
      font-weight: 500;
      color: #8c8c8c;
    "
  >
    Need help? Ask at
    <a
      href="mailto:archisketch@gmail.com"
      style="color: #DDA26D; text-decoration: none;"
      >support@apexstack.org</a
    >
    or visit our
    <a
      href="https://apexstack.org/contact-us"
      target="_blank"
      style="color: #DDA26D; text-decoration: none;"
      >Help Center</a
    >
  </p>
</main>

