<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Apexstack</title>
    <link rel="stylesheet" href="https://apexstack.org/assets/css/main.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <style>
      .btn {
        border: 1px black solid; 
        text-transform: capitalize; 
        padding: 10px 30px; 
        background-color: black;
        color: white;
        margin: 10px auto;
      }
      p{
        letter-spacing: 0.56px;
        font-weight: 500;
        margin: 0;
      }
    </style>
  </head>
  <body
    style="
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: #ffffff;
      font-size: 14px;
    "
  >
    <div
      style="
        max-width: 680px;
        margin: 0 auto;
        padding: 45px 30px 60px;
        background: #f4f7ff;
        background-repeat: no-repeat;
        background-size: 800px 452px;
        background-position: top center;
        font-size: 14px;
        color: #434343;
      "
    >
      <header>
        <table style="width: 100%;">
          <tbody>
            <tr style="height: 0;">
              <td>
                <img style="width: 200px; object-fit: contain;" src='https://res.cloudinary.com/dobhl79fp/image/upload/v1725243239/Asset_3logo_black_bywmig.png'/>                    
              </td>
              <td style="text-align: right;">
                <span
                  style="font-size: 16px; line-height: 30px"
                  ><%= timestamp %></span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </header>