<div class="header">
  <div class="header-top">
      <div class="container">
          <div class="header__top__wrapper d-flex flex-wrap align-items-center justify-content-center justify-content-md-between text-center">
              <ul class="contacts d-flex flex-wrap justify-content-center">
                  <li><a href="https://template.viserlab.com/cdn-cgi/l/email-protection#781c1d1517381f15191114561b1715"><i class="las la-envelope-open"></i> <span class="__cf_email__" data-cfemail="dcb8b9b1b39cbbb1bdb5b0f2bfb3b1">[email&#160;protected]</span></a></li>
                  <li><a href="tel:129075"><i class="las la-phone-volume"></i> 123  -  456  -  7890</a></li>
              </ul>
              <div class="right__area d-flex flex-wrap align-items-center mt-3 mt-md-0">
                  <select name="language" class="nice-select custom--scrollbar">
                      <option>English</option>
                      <option>Bangla</option>
                  </select>
                  <a href="dashboard.html" class="user__thumb ms-3 me-3 me-lg-0">
                      <img src="/assets/images/dashboard/user.png" alt="dashboard">
                  </a>
              </div>
          </div>
      </div>
  </div>
  <div class="header-bottom">
      <div class="container">
          <div class="header-bottom-area">
              <div class="logo"><a href="/"><img src="/assets/images/logo.png" alt="logo"></a></div>
              <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/plan">Plan</a></li>
                <li>
                    <a href="#0">Services</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="dashboard.html">Investment</a>
                        </li>
                        <li>
                            <a href="investor.html">Real Estate</a>
                        </li>
                        <li>
                            <a href="faq.html">Agriculture</a>
                        </li>
                        <li>
                            <a href="policy.html">Gold</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                
                <li class="p-0 d-lg-none mt-3 mt-lg-0">
                    <div class="button__wrapper">
                        <% if(user) { %>
                            <a href="/<%= user?.role === "admin" ? 'admin/users' : "dashboard" %>" class="cmn--btn">Dashboard</a>
                        <% } else { %>
                            <a href="/register" class="cmn--btn">Register</a>
                            <a href="/login" class="cmn--btn">Login</a>
                        <% } %>
                    </div>
                </li>
                
              </ul> 
                <div class="button__wrapper d-none d-lg-block">
                    <% if(user) { %>
                        <a href="/<%= user?.role === "admin" ? 'admin/users' : "dashboard" %>" class="cmn--btn">Dashboard</a>
                    <% } else { %>
                        <a href="/register" class="cmn--btn">Register</a>
                        <a href="/login" class="cmn--btn">Login</a>
                    <% } %>
                </div>

              <div class="header-trigger-wrapper d-flex d-lg-none align-items-center">
                  <div class="mobile-nav-right d-flex align-items-center"></div>
                  <a href="#0" class="search--btn me-4 text--base"><i class="fas fa-search"></i></a>
                  <div class="header-trigger d-block d--none">
                      <span></span>
                  </div>
              </div> 
          </div>
      </div>
  </div>
</div>
<%- include('modals') %>