<div class="plan__item">
    <div class="plan__item-header">
        <h2 class="plan-parcent">5%</h2>
        <p class="plan-parcent-info">After 6 Hours</p>
    </div>
    <div class="plan__item-body">
        <ul class="plan__info">
            <li>
                <span class="title">Min :</span>
                <span class="value">15 USD</span>
            </li>
            <li>
                <span class="title">Max :</span>
                <span class="value">30 USD</span>
            </li>
        </ul>
    </div>
    <div class="plan__item-footer">
        <p class="footer-info"> FOREVER</p>
    </div>
</div>