<div class="plan__item">
    <div class="plan__item-header">
        <h2 class="plan-parcent"><%= plan?.rate %>%</h2>
        <p class="plan-parcent-info">After 24 Hours</p>
    </div>
    <div class="plan__item-body">
        <ul class="plan__info">
            <li>
                <span class="title">Min :</span>
                <span class="value"><%= plan?.min_price?.toLocaleString("en-US") %> USD</span>
            </li>
            <li>
                <span class="title">Max :</span>
                <span class="value"><%= plan?.max_price?.toLocaleString("en-US") %> USD</span>
            </li>
        </ul>
    </div>
    <div class="plan__item-footer">
        <p class="footer-info text-uppercase"> <%= plan?.name %></p>
    </div>
</div>