<div class="col-lg-4 col-xl-4 col-xxl-3 col-xl-4">
  <div class="sidebar dashboard__sidebar">
      <div class="dashboard-user text-center">
          <div class="thumb"><img src="assets/images/dashboard/cc1.png" alt="dashboard"></div>
          <div class="content mt-3">
              <h3 class="name">Albert Tpsi</h3>
              <p class="text-white"><a href="https://template.viserlab.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a8fac7cac9dadce8cfc5c9c1c486cbc7c5">[email&#160;protected]</a></p>
          </div>
      </div>
      <ul class="dashbard__tab tags">
          <% 
            const items = [
              {title: "Overview", slug: 'dashboard'},
              {title: "Deposit", slug: 'deposit'},
              {title: "Withdraw", slug: 'withdraw'},
              {title: "Investments", slug: 'investments'},
              {title: "Plans", slug: 'plans'},
              {title: "Transactions", slug: 'transactions'},
              {title: "Referrals", slug: 'referrals'},
              {title: "Account Settings", slug: 'settings'},
              {title: "KYC", slug: 'kyc'},
            ] 
          %>
          <% items.forEach(i => { %>
            <li>
              <a href="/<%= i.slug %>" class="<%= active === i.slug && 'active'  %>"><%= i.title %></a>
            </li>
          <% }) %>
      </ul>
      <button class="btn-close btn-close-white d-lg-none"></button>
  </div>
</div>