<div class="col-lg-4 col-xl-4 col-xxl-3 col-xl-4">
  <div class="sidebar dashboard__sidebar">
      <div class="dashboard-user text-center">
          <div class="thumb"><img src="assets/images/dashboard/cc1.png" alt="dashboard"></div>
          <div class="content mt-3">
              <h3 class="name">Albert Tpsi</h3>
              <p class="text-white"><a href="https://template.viserlab.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a8fac7cac9dadce8cfc5c9c1c486cbc7c5">[email&#160;protected]</a></p>
          </div>
      </div>
      <ul class="dashbard__tab tags">
          <li><a href="#" class="<%= active === 'overview' && 'active'  %>">Overview</a></li>
          <li><a href="#">Investments</a></li>
          <li><a href="#">Plans</a></li>
          <li><a href="/transactions" class="<%= active === 'transactions' && 'active'  %>" >Transactions</a></li>
          <li><a href="#">Referral Link</a></li>
          <li><a href="/settings">Account Settings</a></li>
          <li><a href="#">Security Settings</a></li>
          <li><a href="#">Sign Out</a></li>
      </ul>
      <button class="btn-close btn-close-white d-lg-none"></button>
  </div>
</div>